{%extends "base_guest.html"%}
{%block content%}



<div class="row" id="guest" >

  <!-- Indicators -->

  <div class="col-md-6">
  

   
        
       

</div>
<div class="col-md-6" style="height:700px">
<br><br><br>
   <h1 style="color:white;">Welcome To The Trail Project!</h1>
          <h3>Thank you for taking part.<br> We will ask you to present 5 books<br> you can recommend to our audience,<br> so can create your own book trail!  </p>
          <p><a class="btn btn-lg btn-warning"  id="nav" href="/up">Get started</a>
		 
        </h3>
</div>
 {% if error%}
	   <p style="color:red;"><strong>Error:</strong> {{ error }} </p>
	{% endif %}
	{% for message in get_flashed_messages() %}
 <p class="error" style="color:red;"> {{message}} </p><br>
{% endfor %}
</div>

{%endblock%}