{%extends "in0.html"%}
{%block content%}
<!-- Begin Body -->
<div class="container" style="margin-top:100px;" >
	<div class="row" >
  			<div class="col-md-3" id="leftCol">
              	
				<div class="well"> 
              	<ul class="nav nav-stacked" id="sidebar">
				
				{% for row in mmm %}
                  <li><a href="/season/{{ row['page_name'] }}">{{ row["name"] }}({{ row["months"] }})</a></li>
                  
				{%  endfor %}
              	</ul>
  				</div>

      		</div>  
      		<div class="col-md-9" style="background-color: #fff;">
			<div class="row">
			<div class="col-md-7">
			<br>
			<img src="http://localhost:5000/static/img/c.jpg" style="width:120%" class="img-responsive">
			
				
				
			</div>
			<div class="col-md-5">
			<h2>Celts</h2>	
			
			<p>Celts, depending on where you live, led a different life: engaged in sailing, trade, fishing, agriculture or handicrafts. 
			They not founded cities, but lived in small villages, sometimes fortified character. 
			Already about 1000 B.C. mined rock salt and apply it to food preservation, they could also receive salt from seawater. 
			They could manipulate metals, manufactured tools and weapons made of iron and bronze, often used gold. 
			Iron raisers from mined ore in wetlands, which are then melted in primitive furnaces. Mined or other metals, including tin and copper.
           They could use a potter's wheel, moreover, used the vehicles equipped with wheels, including the war chariot. 
           This ability, as well as knowledge of methods of metal processing and production of weapons, greatly facilitate the raising less advanced civilization tribes.
</p>

<hr>
				

				
               
            	
            
           
             
</div>
</div>


<div class="row">
			<div class="col-md-7">
				<img src="http://localhost:5000/static/img/celts2.jpg" style="width:120%" class="img-responsive">
			</div>
			
			<div class="col-md-5">
			 	<hr class="col-md-12">
			
			<h2>Druids</h2><p><i></i></p>
<p>Druids formed one of the highest, if not the highest class of the Celtic community. 
They held the roles of the king's advisers, kept watch over the affairs of religion, the morality, 
bode, thought sacrifices, raised teenagers, were cosmologists and theologians. Many young garnęło druids to retrieve them learn. 
The knowledge we gained was extremely extensive, which is why education under the wings of the priesthood lasted even twenty years. 
During this time, they taught young people (derived mainly from the upper classes) on the immortality of the soul and reincarnation, 
to awaken the courage to tame the fear of death. They were taught the vast amount of poetry, which had to remember, as the Druids of his 
knowledge not entrusted magazine. They were afraid because that does not penetrate to the masses and to the sloth does not reduce the efficiency of the memory. 
They had extensive knowledge of the stars, nature, runes, power, and operation of the immortal gods.</p>
			</div>
			
			</div>
{%endblock%}