{%extends "in0.html"%}
{%block content%}
<!-- Begin Body -->
<div class="container" style="margin-top:100px;" >
	<div class="row" >
  			<div class="col-md-3" id="leftCol">
              	
				<div class="well"> 
              	<ul class="nav nav-stacked" id="sidebar">
				
				{% for row in mmm %}
                  <li><a href="/season/{{ row['page_name'] }}">{{ row["name"] }}({{ row["months"] }})</a></li>
                  
				{%  endfor %}
              	</ul>
  				</div>

      		</div>  
      		<div class="col-md-9" style="background-color: #fff;">
			<br>
			<h2>Sacred Trees</h2>
			<br>
			{% for row in tree_list %}
			<div class="col-md-4">
			<div class="panel panel-default" >
                      <div class="panel-heading"><h3>{{ row["name"] }}</h3><p><span  style="white-space: nowrap;">{{ row["tag"] }}</span></p></div>
                      <div class="panel-body">
					 <a href="/trees/{{ row['page_name'] }}"> <img src="http://localhost:5000/static/img/{{ row['img'] }}" style=" height:150px " class="img-responsive">
				read more...</a>
					  
                      </div>
                    </div>
					</div>
			{%  endfor %}
               
			

</div>



{%endblock%}