#login_guest{
background: url("http://localhost:5000/static/img/about/guest_login.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;

}

#transp{
background-color:rgba(255, 255, 255, 0.8);
}

#transp2{
background-color:rgba(255, 255, 255, 0.5);
}

#guest{
background: url("http://localhost:5000/static/img/about/guest1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;

}

#guest_photo{
background: url("http://localhost:5000/static/img/about/own_photo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}