{%extends "base_admin.html"%}
{%block content%}

<div class="container" style="margin-top:100px; padding:20px;" >
	
	 <h2>Welcome to the admin panel.<span style="color:red"> {% for message in get_flashed_messages() %}  {{message}} {% endfor %}</span> </h2>
	
	<br>
	
	<div class="row" style="background:url('http://localhost:5000/static/img/admin.jpg')" >
  	 
      		

	
	  <div class="row col-md-12 text-center">
	  	
			<br><br>
		<h3 style="color:orange">QUICK LINKS</h3>
		<br>
			<a href="/messages" class="btn btn-danger btn-lg" role="button" style="margin:20px;"><h1><span class="glyphicon glyphicon-envelope"></span></h1>Read Mails</a>
			
			<a href="/up_new" class="btn btn-success btn-lg" role="button" style="margin:20px;"><h1><span class="glyphicon glyphicon-plus"></span></h1>Add book</a>
			<a href="/list2" class="btn btn-warning btn-lg" role="button" style="margin:20px;"><h1><span class="glyphicon glyphicon-pencil"></span></h1>Approve trial</a>
			
			<br><br>
	  
	  </div>

	  <div class="row col-md-12 text-center">
		
		<br><br>
			
			<br><br><br><br>
	  
	  </div>


</div>

        	
      		</div> 




{%endblock%}