{%extends "base.html"%}
{%block content%}
    <!-- Header -->
    <header>
	<div class="thumbnail" style="background-color:rgba(255,228,181, 0.5);">
        <div class="container">
            <div class="intro-text">
			
			<br><br>
               
                <div class="intro-heading" style="color:black;">Welcome To Our Library!</div>
				 <div class="intro-lead-in" style="color:black;">It's Nice To Meet You</div>
                <a href="#new" class="page-scroll btn btn-xl" style="color:black">See what's new</a>
				<br><br>
		
            </div>
        </div>
			</div>
    </header>

    <!-- Services Section -->
    <section id="new">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">New books</h2>
                    <h3 class="section-subheading text-muted">Please have a look on our new collection of books.<br>
					If you wish to read any particular book, which is not shown in the list, please contact us by contact form.<br> We can always order it for you!</h3>
                </div>
            </div>
            <div class="row text-center">
			
			{% for row in new %}
                <div class="col-md-4">
				<div style="padding-left:50px; padding-right:50px;">
					<img src="http://localhost:5000/static/uploads/{{ row['img'] }}" class="img-responsive" >
                  </div> 
             
                    <h4 class="service-heading">{{ row["title"] }}</h4>
                  
		
 
 
 <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#my_{{ row['id'] }}">
 Read more...
</button>
<br>
<br>
<!-- Modal -->
<div class="modal fade" id="my_{{ row['id'] }}" tabindex="-1" role="dialog" aria-labelledby="my_{{ row['id'] }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="my_{{ row['id'] }}">{{ row['title'] }}</h4><h5>{{ row['author'] }}</h5>
      </div>
      <div class="modal-body">
     
	
	 <div class="row">
	 <div class="col-md-6">

	 <img src="http://localhost:5000/static/uploads/{{ row['img'] }}" class="img-responsive">
	 </div>
	 
	 <div class="col-md-6" style="text-align:left">
	 	{{ row['desc'] }}<br><br>
	 </div>
	 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      
	  </div>
	  
	  
      </div>
    </div>
  </div>
</div>
 
 
 
 
                </div>
				
			
	
			{%  endfor %}	
               
  </div>
</div>    
    
    </section>

    <!-- Portfolio Grid Section -->
    <section id="paths" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Books trials.</h2>
                    <h3 class="section-subheading text-muted">Different people-different passions and tastes. Click to see what books our guest recommend.<br><br>
					Maybe you will find some interesting books you have never think about before? Try it!</h3>
                </div>
            </div>
            <div class="row">
			
			{% for row in paths6 %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/view/{{ row['id'] }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://localhost:5000/static/uploads/{{ row['p_img'] }}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ row['p_name'] }}{{ row['p_surname'] }}</h4>
                        <p class="text-muted">Click to see the trial.</p>
                    </div>
                </div>
				
				{%  endfor %}	
      
            
            
            </div>
        </div>
    </section>



    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="http://localhost:5000/static/img/team/1a.jpg" class="img-responsive img-circle" alt="team member Ela Johnson">
                        <h4>Ela Johnson</h4>
                        <p class="text-muted">Library Principal Associate</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="http://localhost:5000/static/img/team/2a.jpg" class="img-responsive img-circle" alt="team member Maria Wargas">
                        <h4>Maria Wargas</h4>
                        <p class="text-muted">Assistant Director </p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="http://localhost:5000/static/img/team/3a.jpg" class="img-responsive img-circle" alt="team member Sam Robertson">
                        <h4>Sam Robertson</h4>
                        <p class="text-muted">Technical Services Coordinator</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
               
            </div>
        </div>
    </aside>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
					{% if msg %}
                    <h3 class="text-muted">{{msg}}</h3><br>
					{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form  action="{{ url_for('root') }}#contact" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Name *" name = "name"   >
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enter Email *" name = "email" >
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Enter Title *" name = "title" >
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Enter Message *" name = "message" ></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
			
		
                </div>
            </div>
        </div>
    </section>

{%endblock%}