{%extends "base_guest.html"%}
{%block content%}



{% for row in last %}
                
<div class="row" id="guest" >				
<div class="container" style="background-color:rgba(255,255,255, 0.8);">
 <div class="row" >
	   
				<div class="col-md-6">
				<hr style=" border-top: 3px solid orange;">
					<b>Your image</b><br>
					{{ row["p_img"] }}
					<img src="http://localhost:5000/static/uploads/{{ row['p_img'] }}" class="img-responsive">
				</div>
				<div class="col-md-6">
				<hr style=" border-top: 3px solid orange;">
					<b>Description:</b><br>
					{{ row["p_desc"] }}<br><br>
					<hr style=" border-top: 3px solid orange;">
					<b>Trial description:</b><br>
					{{ row["path_desc"] }}
				</div>
			
	  
			</div>
			
			<div class="row">
				<div class="col-md-2">
				 <hr style=" border-top: 3px solid orange;">
					<h3>Book 1</h3>
					<b>Title:</b><br>{{ row["b1_title"] }}<br>
					<b>Author:</b><br>{{ row["b1_author"] }}<br>
					<b>Desc:</b><br>{{ row["b1_desc"] }}<br>
				</div>
				<div class="col-md-2">
					<hr style=" border-top: 3px solid orange;">
					<h3>Book 2</h3><br>
					<b>Title:</b><br>{{ row["b2_title"] }}<br>
					<b>Author:</b><br>{{ row["b2_author"] }}<br>
					<b>Description:</b><br>{{ row["b2_desc"] }}<br>
				</div>
				<div class="col-md-2">
					<hr style=" border-top: 3px solid orange;">
					<h3>Book 3</h3><br>
					<b>Title:</b><br>{{ row["b3_title"] }}<br>
					<b>Author:</b><br>{{ row["b3_author"] }}<br>
					<b>Description:</b><br>{{ row["b3_desc"] }}<br>
				</div>
				<div class="col-md-2">
					<hr style=" border-top: 3px solid orange;">
					<h3>Book 4</h3><br>
					<b>Title:</b><br>{{ row["b4_title"] }}<br>
					<b>Author:</b><br>{{ row["b4_author"] }}<br>
					<b>Description:</b><br>{{ row["b4_desc"] }}<br>
				</div>
				<div class="col-md-2">
					<hr style=" border-top: 3px solid orange;">
					<h3>Book 5</h3><br>
					<b>Title:</b><br>{{ row["b5_title"] }}<br>
					<b>Author:</b><br>{{ row["b5_author"] }}<br>
					<b>Description:</b><br>{{ row["b5_desc"] }}<br><br><br><br>
				</div>
				
				</div>				
				
				
				
				
				            
				{%  endfor %}
				
				
			</div>		
	</div>			
				
				
				
				
				
				
				
{%endblock%}