<html>
   <body>
      
      <form action = "" method = "POST">
         <h3>insert</h3>
         Name<br>
         <input type = "text" name = "p_name" /></br>
         
     <!--    two<br>
         <textarea name = "add" ></textarea><br>-->
         
         Surname<br>
         <input type = "text" name = "p_surname" /><br>
		 
		 Info<br>
         <input type = "text" name = "p_desc" /><br>
         
      
         <input type = "submit" value = "submit" /><br>
      </form>
	  {% if msg %}
      <p> {{msg}}</p>
	  
	  {% endif %}
	  
	  
	  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}
   </body>
</html>