{%extends "base_guest.html"%}
{%block content%}
 
 
 <div class="row" style="margin:0px" id="guest" style="background-color:#99CCFF;" >
<div class="col-md-2" id="guest" >
</div>
<div class="col-md-4" id="guest" >
<br>
<img src="http://localhost:5000/static/img/about/one2.jpg">



</div>

<div class="col-md-6" id="guest_photo" style="height:700px; ">
<br><br><br>
<h4 style="color:white;">Please select one image showing yourself.<br><br>
It is significant for the project.<br><br>
It will be visible on the website both with your trail.
<br><br>
</h4>
 <h1 style="color:orange;">Upload your image</h1>

   
    
    <form action="" method=post enctype=multipart/form-data>
     <span > <p style="color:white;"><input type=file name=file></p></span>
         <input type=submit class="btn btn-lg btn-warning" value=Upload>
    </form>


</div>

</div>
   

	
	
	{%endblock%}